.hero-section {
    display: flex;
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: center;
    padding: 20px;
    margin-top: 400px;
    text-align: center; /* Center text content */

}

.hero-section h1 {
    font-family: 'Monda';
    font-size: 3rem;
    line-height: 1.2;
    color: #6E9B40;
    margin-top: -300px;

}

.hero-section img {
    max-width: 80%; /* Make image responsive */
    margin-top: 20px; /* Adjust margin for better spacing */
    height: auto;
}


.hero-section p {
    font-size: 2rem; /* Adjusted font size for mobile */
    margin-top: 20px;
    text-align: center; /* Center text content */
    margin-left: 0; /* Remove specific left margin */
    margin-right: 0; /* Remove specific right margin */
    font-family: 'inter';
    color: #6E6E6E;
}

.hero-section .read-more-btn {
    background-color: #007BFF;
    color: #fff;
    border: 2px solid #fff; /* White border */
    border-color: white;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 20px;

    transition: background-color 0.3s ease, color 0.3s ease; /* Adding transition for color change */
}


.hero-section .read-more-btn:hover {
    background-color: #0056b3; /* Change background color on hover */
    color: #fff; /* Keep text color on hover */
}
@media only screen and (min-width: 600px){
    .hero-section{
        width: 90%;
         }
    .hero-section h1{
        font-family: 'Monda';
    }
    .hero-section img{
        margin-top: 500px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    .hero-section{
        width: 80%;
    }
    .hero-section h1{
        font-family: 'Monda';
        font-size: 5rem;
        margin-left: 20%;
    }
    .hero-section img{
        width: 100%;
        margin-top: -20px;
        margin-left: 50%;
    }
    .hero-section p{
        width: 100%;
        font-size: 2rem;
        margin-left: 50px;
    }
    .hero-section .read-more-btn{
        width: 150px;
        margin-left: 80px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .hero-section{
        width: 30%;
    }
    .hero-section h1{
        font-family: 'Monda';
        width: 200%;
        font-size: 4rem;
        margin-left: 10%;
    }
    .hero-section img{
        width: 300vh;
        margin-top: -500px;
        margin-left: 1300px;
    }
    .hero-section p{
        width: 150%;
        font-size: 1.5rem;
        margin-left: 100%;
    }
    .hero-section .read-more-btn{
        width: 80%;
        margin-left: 135%;
    }
}
@media  (min-width: 768px) and (max-width: 1024px){
    .hero-section{
        width: 50%;
    }
    .hero-section h1{
        font-family: 'Monda';
        width: 80%;
        font-size: 4.5rem;
    }
    .hero-section img{
        width: 70%;
        margin-top: -550px;
        margin-left: 190%;
    }
    .hero-section p{
        margin-top: 20%;
        width: 120%;
        font-size: 1.5rem;
        margin-left: 30%;
    }
    .hero-section .read-more-btn{
        width: 30%;
        margin-left: 80%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1440px){
    .hero-section{
        width: 50%;
    }
    .hero-section h1{
        font-family: 'Monda';
        font-size: 5rem;
    }
    .hero-section img{
        width: 70%;
        margin-top: -750px;
        margin-left: 150%;
    }
    .hero-section p{
        width: 150%;
        font-size: 2.5rem;
        margin-top: 20%;
        margin-left: 20%;
    }
    .hero-section .read-more-btn{
        width: 40%;
        margin-left: 75%;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 2560px){
    .hero-section{
        width: 50%;
    }
    .hero-section h1{
        font-family: 'Monda';
        font-size: 8rem;
    }
    .hero-section img{
        width: 70%;
        margin-top: -1000px;
        margin-left: 180%;
    }
    .hero-section p{
        width: 150%;
        font-size: 3rem;
        margin-top: 20%;
        margin-left: 20%;
    }
    .hero-section .read-more-btn{
            width: 50%;
        border-radius: 50px;
        font-size: 3rem;
        margin-left: 70%;
    }
}
@media only screen and (min-width: 2560px) and (max-width: 2687px){
    .hero-section{
        width: 50%;
        margin-left: 5%;
    }
    .hero-section h1{
        font-family: 'Monda';
        font-size: 10rem;
    }
    .hero-section img{
        width: 70%;
        margin-top: -1200px;
        margin-left: 150%;
    }
    .hero-section p{
        width: 120%;
        margin-top: 20%;
        margin-left: 30%;
    }
    .hero-section .read-more-btn{
        width: 25%;
        font-size: 3rem;
        margin-left: 75%;
    }

}



