/* General styles */
.news-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  min-height: 100vh;
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
  margin-top: 10%;
}

.news-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/adventurebuddy-tab-web.appspot.com/o/newspaper.png?alt=media&token=6d75f449-383f-48a6-b408-121cf539b6ac');
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

.slider-container {
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.1);
  margin-top: 20px;
  border-radius: 10px;
}

.slider-container .slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.news {
  font-size: 15.5rem;
}

.articles {
  margin-left: 300px;
}

.text-section {
  width: 50%;
  text-align: left;
}

.text-section p {
  font-size: 3.7rem;
  margin: 0;
  color: #777;
  font-family: 'Monda';
  margin-left: 120px;
}

.text-section h1 {
  font-size: 4.5rem;
  margin: 0;
  font-weight: bold;
  color: black;
  font-family: 'Monda';
}

/* Responsive design for different screen sizes */

/* Width 320px to 374px */
@media (min-width: 320px) and (max-width: 374px) {
  .news-container {
    width: 80%;
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    margin: 0;
    margin-left: 10%;
  }
  .text-section p {
    margin-top: -300px;
    font-size: 2.5rem;
    margin-left: 0;
  }
  .text-section h1 {
    font-size: 2rem;
  }
  .news {
    font-size: 6rem;
  }
  .articles {
    font-size: 3rem;
    margin-left: 0;
  }
}

/* Width 375px to 424px */
@media (min-width: 375px) and (max-width: 424px) {
  .news-container {
    width: 80%;
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    margin: 0;
    margin-left: 0px;
  }
  .text-section p {
    margin-top: -400px;
    font-size: 3rem;
    margin-left: 0;
  }
  .text-section h1 {
    font-size: 4.5rem;
  }
  .news {
    font-size: 4rem;
  }
  .articles {
    font-size: 3rem;
    margin-left: 0;
  }
}

/* Width 425px to 767px */
@media (min-width: 425px) and (max-width: 767px) {
  .news-container {
    width: 85%;
    flex-direction: column;
  }
  .text-section {
    width: 100%;
    margin: 0;
  }
  .text-section p {
    font-size: 2.5rem;
    margin-left: 0;
  }
  .text-section h1 {
    font-size: 3rem;
  }
  .news {
    font-size: 5rem;
  }
  .articles {
    margin-left: 0;
  }
}

/* Width 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .news-container {
    width: 90%;
  }
  .text-section p {
    width: 100%;
    margin-left: 10%;
  }
  .news {
    font-size: 200px;
  }
  .articles {
    margin-left: 40%;
  }
  .slide {
    width: 600px;
    height: 150px;
  }
  .text-section p {
    font-size: 2rem;
  }
  .news {
    margin-bottom: 500px;
    font-size: 3.5rem;
  }
  .articles {
    font-size: 2.8rem;
    margin-left: 1px;
  }
}

/* Width 1024px to 1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
  .news-container {
    width: 180vh;
  }
  .text-section p {
    width: 100%;
    margin-left: 10%;
  }
  .news {
    font-size: 200px;
  }
  .articles {
    margin-left: 40%;
  }
}

/* Width 1440px to 2559px */
@media (min-width: 1440px) and (max-width: 2559px) {
  .news-container {
    width: 100%;
  }
  .text-section p {
    width: 100%;
    margin-left: 10%;
  }
  .news {
    font-size: 200px;
  }
  .articles {
    margin-left: 40%;
  }
}

/* Width 2560px to 2687px */
@media (min-width: 2560px) and (max-width: 2687px) {
  .news-container {
    width: 100%;
  }
  .text-section p {
    width: 100%;
    font-size: 9rem;
    margin-left: 10%;
  }
  .news {
    font-size: 30rem;
  }
  .articles {
    font-size: 10rem;
    margin-left: 40%;
  }
}
