/* General styles */
.brand-slider {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden; /* Ensure the overflow is hidden */
  }
  .title h2{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Monda'
  }
  
  /*.brand-slider-title {*/
  /*  font-size: 2em;*/
  /*  text-align: center;*/
  /*  margin-bottom: 20px;*/
  /*  color: #333;*/
  /*  font-family: 'Monda';*/
  /*  text-transform: uppercase;*/
  /*  letter-spacing: 2px;*/
  /*}*/
  
  .brand-slide {
    text-align: center;
    flex: 0 0 auto;
  }
  
  .brand-logo {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .brand-logo:hover {
    transform: scale(1.05);
  }
  
  /* Keyframe animation for infinite sliding */
  @keyframes slideInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); /* Adjust based on the number of duplicate items */
    }
  }
  
  .slick-track {
    display: flex;
    animation: slideInfinite 40s linear infinite;
    animation-direction: reverse;
  }
  
  /* Mobile view adjustments */
  @media (max-width: 768px) {
    .brand-slider {
      padding: 15px;
      overflow-x: hidden; /* Prevent horizontal scrolling */
    }
  
    .brand-slider-title {
      font-size: 1.8em;
      margin-bottom: 15px;
    }
  
    .slick-list {
      overflow: visible; /* Ensure slides don't overflow horizontally */
    }
  
    .slick-slide {
      padding: 0 5px; /* Adjust slide spacing for smaller screens */
    }
  
    .slick-prev,
    .slick-next {
      font-size: 1.2em;
    }
  
    .brand-logo {
      border-radius: 8px;
      margin-left: 80px;
    }
  }
  
  @media (max-width: 480px) {
    .brand-slider {
      padding: 10px;
    }
  
    .brand-slider-title {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  
    .slick-slide {
      padding: 0 3px; /* Further adjust slide spacing for smaller screens */
    }
  
    .slick-prev,
    .slick-next {
      font-size: 1em;
    }
  
    .brand-logo {
      border-radius: 6px;
      padding: 0 20px;
    }
  }
  