/* Lgobar.css */

/* General styles */
.logo-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px; /* Adjust the gap as needed */
    padding: 20px; /* Adjust the padding as needed */
    background-color: white; /* Change if the background color is different */
}

.brand-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {
    max-height: 80px; /* Adjust the max-height as needed */
    max-width: 150px; /* Adjust the max-width as needed */
    object-fit: contain; /* Ensures the image fits within the defined dimensions */
}

/* Responsive design for tablets and smaller screens */
@media (min-width: 320px) and (max-width: 768px) {
    .brand-logo{
        gap: 20px;
    }
}
@media (max-width: 1024px) {
    .logo-bar {
        flex-direction: row; /* Stack items vertically */
        gap: 30px; /* Reduce gap for smaller screens */
        padding: 2px; /* Adjust padding for smaller screens */
    }

    .brand-logo {
        max-height: 60px; /* Reduce logo height */
        max-width: 120px; /* Reduce logo width */
    }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .logo-bar {
        flex-direction: row; /* Stack items vertically */
        gap: -20px; /* Further reduce gap */
        padding: 1px; /* Reduce padding */
    }

    .brand-logo {
        max-height: 50px; /* Further reduce logo height */
        max-width: 100px; /* Further reduce logo width */
    }
}

/* Additional responsive design for very small screens */
@media (max-width: 480px) {
    .logo-bar {
        flex-direction: row;
        gap: -80px; /* Further reduce gap */
        padding: 5px; /* Reduce padding */
    }

    .brand-logo {
        max-height: 20px; /* Further reduce logo height */
        max-width: 80px; /* Further reduce logo width */
    }
}
