/* Default styles (for larger screens) */


.header {
  position: relative;
  width: 90%;
  height: 400px;
  /* Adjusted height for default */
  margin: 50px auto;
  /* margin-top: 100px; Added top margin for larger screens */
  transition: opacity 0.5s ease-in-out;
}

.header.visible {
  opacity: 1;
  margin-top: 150px;
  /* Added top margin for visible state */
}

.header-image {
  width: 100%;
  height: 100%;
  /* Adjusted to fill header height */
  object-fit: cover;
  border-radius: 20px;
  transition: opacity 5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-image:nth-child(1) {
  opacity: 1;
}

.header-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  /* Adjusted font size for default */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Media queries for different devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    height: 200px;
    /* Reduced height for small screens */
    margin: 50px auto;
    /* margin-top: 1000px; */
    /* Added top margin for small screens */
  }

  .header.visible {
    margin-top: 130px;
    /* Added top margin for visible state */
  }

  .header-image {
    border-radius: 10px;
    /* Adjusted border radius */
  }

  .header-text {
    font-size: 16px;
    /* Smaller font size for small screens */
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .header {
    height: 250px;
    /* Adjusted height for tablets and large phones */
    margin: 75px auto;
    /* margin-top: 990px; */
    /* Added top margin for small devices */
  }

  .header.visible {
    margin-top: 140px;
    /* Added top margin for visible state */
  }

  .header-image {
    border-radius: 15px;
    /* Adjusted border radius */
  }

  .header-text {
    font-size: 18px;
    /* Adjusted font size */
    bottom: 15px;
    left: 15px;
    padding: 7px 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    height: 300px;
    /* Adjusted height for landscape tablets */
    margin: 87.5px auto;
    /* margin-top: 1100px; */
    /* Added top margin for medium devices */
  }

  .header.visible {
    margin-top: 150px;
    /* Added top margin for visible state */
  }

  .header-image {
    border-radius: 20px;
    /* Adjusted border radius */
  }

  .header-text {
    font-size: 20px;
    /* Adjusted font size */
    bottom: 18px;
    left: 18px;
    padding: 9px 18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header {
    height: 350px;
    /* Adjusted height for laptops/desktops */
    margin: 95px auto;
    /* margin-top: 910px; */
    /* Added top margin for large devices */
  }

  .header.visible {
    margin-top: 960px;
    /* Added top margin for visible state */
  }

  .header-image {
    border-radius: 25px;
    /* Adjusted border radius */
  }

  .header-text {
    font-size: 22px;
    /* Adjusted font size */
    bottom: 19px;
    left: 19px;
    padding: 9.5px 19px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    height: 400px;
    /* Adjusted height for large screens */
    margin: 100px auto;
    /* margin-top: 1450px; */
    /* Added top margin for extra large devices */
  }

  .header.visible {
    margin-top: 170px;
    /* Added top margin for visible state */
  }

  .header-image {
    border-radius: 30px;
    /* Adjusted border radius */
  }

  .header-text {
    font-size: 24px;
    /* Adjusted font size */
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
  }
}

@media (min-width: 1440px) and (max-width: 2568px) {
  .header {
    height: 500px;
    /* Adjusted height for large screens */
    margin: 100px auto;
    /* margin-top: 1450px; */
    /* Added top margin for extra large devices */
  }

  .header.visible {
    margin-top: 170px;
    /* Added top margin for visible state */
  }

  .header-image {
    border-radius: 30px;
    /* Adjusted border radius */
  }

  .header-text {
    font-size: 24px;
    /* Adjusted font size */
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
  }
}