.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/adventurebuddy-tab-web.appspot.com/o/bglogin.png?alt=media&token=01557208-1e9f-43cf-b9ac-692d5f442f87'); /* Ensure the path to your background image is correct */
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 2rem 0;
    margin-top: -100px;
}

.logos {
    height: 70px;
}

.nav-links a {
    margin: 0 2rem;
    text-decoration: none;
    color: #4CAF50;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
}

.characters {
    width: 350px;
    margin-top: 10px;
    margin-right: 2rem;
}

.form-wrapper {
    /*background: white;*/
    padding: 2rem;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #007BFF;
}

.input {
    width: 90%;
    padding: 1.50rem;
    height: 30px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 50%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.instructions {
    margin-top: 1px;
    color: #777;
    font-size: 0.875rem;
}
@media (min-width: 320px) and (max-width: 425px) {
    .page-wrapper{
        overflow-x: hidden;
    }
    .content {
        flex-direction: column;
    }

    .characters {
        width: 150px;
        margin: 0 0 1rem 0;
    }

    .form-wrapper {
        padding: 1rem;
    }
    .nav-links {
        margin-right: 80%;
    }
    .nav-links a{
        display: flex;
        justify-content: center;
        padding: 2px;
        margin-left: 70px;
        width: 100%;
        font-size: 1rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .input {
        padding: 0.5rem;
    }

    .button {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .page-wrapper{
        overflow-x: hidden;
    }
    .content {
        flex-direction: column;
    }

    .characters {
        width: 150px;
        margin: 0 0 1rem 0;
    }

    .form-wrapper {
        padding: 1rem;
    }
    .nav-links {
        margin-right: 80%;
    }
    .nav-links a{
        display: flex;
        justify-content: center;
        padding: 2px;
        margin-left: 120px;
        width: 100%;
        font-size: 1rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .input {
        padding: 0.5rem;
    }

    .button {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .page-wrapper{
        overflow-x: hidden;
    }
    .content {
        flex-direction: column;
    }

    .characters {
        width: 150px;
        margin: 0 0 1rem 0;
    }

    .form-wrapper {
        padding: 1rem;
    }
    .nav-links {
        margin-right: 80%;
    }
    .nav-links a{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 2rem;
        text-decoration: none;
        color: #4CAF50;
        font-size: 1.5rem;
        font-weight: bold;
    }
    #login{
        margin-left: 750px;
    }
    #signup{
        margin-left: 750px;
    }

    .title {
        font-size: 1.25rem;
    }

    .input {
        padding: 0.5rem;
    }

    .button {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
}


/*@media (max-width: 600px) {*/
/*    .content {*/
/*        flex-direction: column;*/
/*    }*/

/*    .character {*/
/*        width: 50px;*/
/*        margin: 0 0 1rem 0;*/
/*    }*/

/*    .form-wrapper {*/
/*        padding: 1rem;*/
/*    }*/

/*    .title {*/
/*        font-size: 1.25rem;*/
/*    }*/

/*    .input {*/
/*        padding: 0.5rem;*/
/*    }*/

/*    .button {*/
/*        padding: 0.5rem;*/
/*        font-size: 0.875rem;*/
/*    }*/
/*}*/
